*{
    margin: 0;
    padding: 0; 
}
body{
    background-color: rgb(245, 245, 247);
}
.aside{
    width: 25%;
}
.nav{
    height: 64px;
    display: flex;
    justify-content: center;
    
}
.top-menu{
    display: flex;
}
img{
    margin: auto;
    height: 45px;
    /* max-height: 64px;    */
}
li:hover{
    
    background-color: rgb(98, 98, 101);
}
li{
    display: block;
    padding: 22px 16px;
    line-height: 20px;
    font-size: 15px;
    color: #d2d2d7;
    cursor: pointer;
    font-family: arial;
}
.top-menu{
    list-style-type: none;
    
}
.header{
    background-color: rgb(81, 81, 84);
}
.header-logo{
    display: flex;
    margin-top: 2.938px;
    margin-bottom: 2.938px;
    cursor: pointer;
    margin-right: 10px;
}
.search-icon{
    background: url(img/search-icon-1.png);
    background-position: 60%;
    padding: 15px 15px;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    width: 10px;
    background-repeat: no-repeat;

}
.login-icon{
    background: url(img/login-icon.png);
    background-position: 60%;
    padding: 15px 15px;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    width: 10px;
    background-repeat: no-repeat;
}
.to-cart{
    background: url(img/cart-icon.png);
    background-position: 60%;
    padding: 15px 15px;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    width: 10px;
    background-repeat: no-repeat;
}
.language{
    display: flex;
    width: 52px;
    
}
.flag{
    width: 16px;
    height: 20px;
    text-align: center;
    line-height: 64px;
    margin-right: 10px;
}
.vn{
    width: 100%;
    height: auto;
    
}
.us{
    width: 100%;
    height: auto;
}

.content-home{
    width: 1200px;
    margin: auto;
    
    
}
.banner-top {
    width:100%; 
   height: 100%; 
    
}
.banner-top img{
    width:100%;
    height: auto; 
    
}
.topic{
    width: 100%;
    height: 166px;
    text-align: center;
}
.topic img{
    width: 384px;
    height: 166px;
   margin: 60px 12px 20px 12px;

}
.grid{
    display: grid;
    grid-auto-rows: minmax(min-content,max-content);
    grid-template-columns: repeat(4,minmax(0,1fr));
    gap: 20px;
    margin-bottom: 32px;
}
.first{
    margin-top: 100px;
}
.title{
    margin-top: 50px;
    line-height: 45px;
    text-align: center;
    height: 45px;
    
    font-size: 30px;
    padding-bottom:24px ;
}
.item-box{
    width: 245px;
    height: 368px;
    background-color: white ;
    border: 1px white;
    border-radius: 10px;
    padding: 24px 20px 16px 20px;
}
.picture img{
width: 100%;
height: 100%;
cursor: pointer;
position: relative;
bottom: 24px;
}
.picture{
width: 240px;
height: 240px;

}
.product-tag{
    width: 285px;
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
    min-height: 50px;
    position: relative;
    bottom: 17px;
    right: 29px;   
}
.product-tag .deposit{
    margin: 0;
    max-width: 100px;
    max-height: 20px;
    vertical-align: top;
}
.product-tag .sale{
    vertical-align: top;
    margin: 0;
}
.product-tag .ready{
    vertical-align: top;
    margin: 0;
    max-width: 100px;
    max-height: 30px;
}
.product-tag .new{
    vertical-align: top;
    margin: 0;
    max-width: 69px;
    max-height: 30px;
}
.product-title{
 text-align: left;
 height: 54px;

 cursor: pointer;
 padding-left: 18px;
}
.prices{
    padding-right: 10px;
    height: 24px;
    text-align: center;
}
.actual-price{
    font-weight: 700;
    font-size: 16px;
    margin-left: 5px;
    color: rgb(0, 102, 204);
}
.old-price.price-ratio{
    font-size: 14px;
    line-height: 24px;
    color: rgb(134, 134, 139) ;
    margin: 0 5px 0 5px;
}
.show-all{
    margin: auto;
    width: 1200px;
    height: 39.6px;
    text-align: center;
}.show-all a{
    border: 1px solid #0066CC;
    border-radius: 8px;
    padding: 5.5px 45px;
    color: #0066CC;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}
.show-all a:hover{
background-color: rgb(0, 102, 204);
color: white;
}
.banner-bottom{
    width: 100%;
    margin-top: 80px;
}
.banner-bottom img{
   width: 100%;
   height: auto;
   cursor: pointer
}
.news-item{
    display: grid;
    grid-auto-rows: minmax(min-content,max-content);
    grid-template-columns: repeat(3,minmax(0,1fr));
    gap: 20px;
    margin-bottom: 32px;
}
.news-pics{
    width: 100%;
    height: auto;
    cursor: pointer;
}
.news-pics img{
    width: 100%;
    max-height: 218px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
    background: #f7e8e8;
    height: 176px;
}
.news{
    background-color: white;
    height:346px;
}
.news-title{
    padding: 25px 24px 15px 24px;
    line-height: 24px;
    font-size: 18px;
    font-weight: bold;
    color: #1D1D1F;
    display: inline-block;
}
.news-date{
    background-color: #fff;
    font-size: 15px;
    line-height: 24px;
    color: #86868B;
    margin: 0 0 24px;
    padding: 10px 24px 0 24px;
    font-style: normal;
}
.end-body{
width :100%;
height : 180px;

background-color: #F2F2F2;
margin-top : 20px ;
  
  }
  .sign-shopdunk{
     text-align: center;
      font-weight: 700;
      font-size: 24px;
      color: #1D1D1F;
      line-height: 36px;
      padding: 80px 0 50px 0;
  }
  p{   
     text-align: center;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    color: #515154;
    padding: 8px 0;
    margin: 0;
  }
  .footer{
    width: 100%;
    height: 541px;
    background-color: rgb(29, 29, 31);
    
    
    justify-content: center;
   
  }
.footer-content{
    display: flex;
    color: white;
    width: 1200px;
    height: 344px;
    margin: auto;
    padding-bottom: 21px;
    padding: 64px 0 0;
}
.footer-follow {
    width: 360px;
    height: 324px;
    padding-bottom: 20px;
    
}
.footer-follow p{
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #D2D2D7;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: left;
    width: 294px;
    height: 160px;
    font-family: arial;
}
.networks img{
width: 56px;
height: 57px;
}
.footer-info{
    width: 240px;
    height: 344px;
    padding-left: 60px;

}
.footer-info .info-title{
    color: #d2d2d7;
    font-size: 15px;
    line-height: 21px;
    font-weight: 700;
    font-family: arial;
    padding-bottom:15px;
}
.footer-info ul li{
padding: 0;
list-style-type: none;
width: 185px;
height: 28px;
color: #86868b;
font-size: 13px;
line-height: 28px;
font-family: arial;
}
.footer-service{
    width: 180px;
    height: 344px;
    padding-left: 60px;
}
.service-title{
    color: #d2d2d7;
    font-size: 15px;
    line-height: 21px;
    font-weight: 700;
    font-family: arial;
    padding-bottom:15px;

}
.footer-service ul li{
    padding: 0;
    list-style-type: none;
    width: 185px;
    height: 28px;
    color: #86868b;
    font-size: 13px;
    line-height: 28px;
    font-family: arial;
    }
.footer-contact{
    width: 240px;
    height: 344px;
    padding-left: 60px;
}
.contact-title{
    color: #d2d2d7;
    font-size: 15px;
    line-height: 21px;
    font-weight: 700;
    font-family: arial;
    padding-bottom:15px;

}
.footer-contact ul li{
    padding: 0;
    list-style-type: none;
    width: 185px;
    height: 28px;
    color: #86868b;
    font-size: 13px;
    line-height: 28px;
    font-family: arial;
    
}
.footer-content ul li:hover{
text-decoration: underline;
background-color: #1D1D1F;
}
.hard{
    height:156px ;
}
.footer-lower{
    width: 1200px;
    display: flex;
    text-align: left;
    margin: auto;
     justify-content: space-between;
    padding: 20px 0 32px 0;
   border-top: 1px solid rgb(81, 81, 84); 
}
.claim{
    color: rgb(81, 81, 84);
    
}